        body {
            font-family: 'Segoe UI', Tahoma, sans-serif;
            background-color: #f4f6f8;
            margin: 0;
            padding: 0;
        }
        .card:hover {
                transform: translateY(-5px);
                transition: 0.3s;
        }       